<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello! just below you can find my progress calories </h1>
    <p>Ingrese this link
    <%= link_to "Click Me", @url %>
    </p>
  </body>
</html>