<% content_for :header do %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Publish your calory progress
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', micropost: @calory %>
  <br>
  <%= link_to 'Back', calories_path, class:"button" %>
</div>